<% include header %>

<div class="titelkader1">

<div class="titel t1">
      <h1><a href="/">down-to-earth</a></h1>
</div>

<div class="titel t2">
      <h1><a href="/">magazine</a></h1>
</div>

<div class="clear"></div>
</div>

<h2><span>Resource not found</span>:</h2>

<section>
<p>I am sorry but this resource has not been found.</p>
</section>

<% include footer %>
